<div class="o-section-block">
  <ul class="c-widget-accordion c-widget-accordion--alert" data-accordion="" data-allow-all-closed="true">
    <li class="c-widget-accordion-item is-active" data-accordion-item="">
      <a href="#" class="c-widget-accordion-link">
        <span class="c-widget-accordion__title">Video</span>
        <span class="c-widget-accordion__icon c-widget-accordion__icon c-widget-accordion__icon--bottom" aria-hidden="true">
          <i class="fa fa-video-camera fa-lg u-rotate-345"></i>
        </span>
      </a>
      <div class="c-widget-accordion-content" data-tab-content="">
        <div class="c-widget-accordion-content-video">
          <div class="c-widget-accordion-content__video u-video-wrapper-16-9">
            <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/DuTJZOLwD3M?rel=0&amp;controls=0" style="border: 0;" allowfullscreen=""></iframe>
          </div>
          <div class="c-widget-accordion-content__cta">
            <a class="alert expanded button large" href="https://www.youtube.com/user/ThePirateParty/videos" target="_blank" rel="noopener noreferrer"> More Videos on our
              <br> YouTube Channel </a>
          </div>
        </div>
      </div>
    </li>
  </ul>
</div>
