<div class="text-right show-for-medium-up">
      <a href="https://github.com/pirati-web/pirati.cz/edit/gh-pages/{{ page.path }}" class="label secondary" style="background-color:#bbb">
          <i class="fa fa-pencil"></i>
 Edit this page!</a>
</div>


<footer class="o-section o-section--tiled o-section--bigger u-inverted u-cf">
  <div class="o-section-inner">
    <div class="row">
      <div class="medium-12 large-3 u-stacked-medium-down columns">
        <a href="{{ '/' | relative_url }}">
          <img src="{{ 'assets/img/brand/logo-white.png' | relative_url }}" style="width: 170px" alt="Pirate Party UK" class="u-center-medium-down u-10paddingTop">
        </a>
        <p class="u-0margin u-noWrap u-50paddingTop u-smaller-line-height show-for-large">
          <span class="u-mirror-horizontally">&copy;</span> PPUK 2018.
          <br> Share and share alike! Checkout our Gitlab
      </div>
      <div class="medium-12 large-7 u-stacked-medium-down columns">
        <div class="row u-custom-gutter">
          <div class="small-6 medium-3 columns">
            <nav class="c-vertical-navigation u-center-medium-only">
              <h3 class="c-vertical-navigation__title"><a href="{{ '/about-us/' | relative_url }}">About Us</a></h3>
              <ul class="c-vertical-navigation-items">
                <li class="c-vertical-navigation__item">
                  <a href="{{ 'people/' | relative_url }}">Our People</a>
                </li>
                <li class="c-vertical-navigation__item">
                  <a href="{{ 'regiony/' | relative_url }}">Branches</a>
                </li>
                <li class="c-vertical-navigation__item">
                  <a href="{{ 'program/' | relative_url }}">What we Believe</a>
                </li>
              </ul>
            </nav>
          </div>
          <div class="small-6 medium-3 columns">
            <nav class="c-vertical-navigation u-center-medium-only">
              <h3 class="c-vertical-navigation__title">Get involved</h3>
              <ul class="c-vertical-navigation-items">
                <li class="c-vertical-navigation__item">
                  <a href="{{ 'pripoj-se/' | relative_url }}">Become a Pirate!</a>
                </li>
                <li class="c-vertical-navigation__item">
                  <a href="{{ '/feed.xml' | absolute_url }}">RSS / Atom feed</a>
                </li>
                <li class="c-vertical-navigation__item">
                  <a href="{{ '/download' | absolute_url }}">Download Materials</a>
                </li>
              </ul>
            </nav>
          </div>
          <div class="small-6 medium-3 columns">
            <nav class="c-vertical-navigation u-center-medium-only">
              <h3 class="c-vertical-navigation__title">What we're doing</h3>
              <ul class="c-vertical-navigation-items">
                <li class="c-vertical-navigation__item">
                  <a href="{{ 'news/' | relative_url }}">News</a>
                </li>
                <li class="c-vertical-navigation__item">
                  <a href="{{ 'pripoj-se/kalendar/' | relative_url }}">Calendar</a>
                </li>
              </ul>
            </nav>
          </div>
{% comment %}
          <div class="small-6 medium-3 columns">
            <nav class="c-vertical-navigation u-center-medium-only">
              <h3 class="c-vertical-navigation__title"><a href="{{ '/otevrenost/' | relative_url }}">Otevřenost</a></h3>
              <ul class="c-vertical-navigation-items">
                <li class="c-vertical-navigation__item">
                  <a href="https://ucet.pirati.cz">Transparentní účet</a>
                </li>
                <li class="c-vertical-navigation__item">
                  <a href="https://smlouvy.pirati.cz">Registr smluv</a>
                </li>
                <li class="c-vertical-navigation__item">
                  <a href="https://wiki.pirati.cz/fo/otevrene_ucetnictvi">Otevřené účetnictví</a>
                </li>
                <li class="c-vertical-navigation__item">
                  <a href="https://goo.gl/W3Mx9H">Informace o dárcích</a>
                </li>
                <li class="c-vertical-navigation__item">
                  <a href="https://goo.gl/vcBovv">Dárci pro senátní kampaň – Trutnovsko</a>
                </li>
                <li class="c-vertical-navigation__item">
                  <a href="https://zpravy.udhpsh.cz/zprava/ps2017/pirati">Financování kampaně do PSP PČR</a>
              </ul>
            </nav>
          </div>
{% endcomment %}
        </div>
      </div>
      <div class="medium-12 large-2 u-stacked-medium-down columns u-center-medium-down">
        <nav class="c-vertical-navigation">
          <h3 class="c-vertical-navigation__title">Keep in touch online</h3>
          <ul class="c-vertical-navigation-items c-vertical-navigation-items--horizontal">
            <li class="c-vertical-navigation__item">
              <a href="{{site.fb}}" rel="noopener noreferrer" title="Facebook - Pirate Party UK">
                <i class="fa fa-facebook c-icon c-icon--rounded c-icon--facebook" aria-hidden="true"></i>
              </a>
            </li>
            <li class="c-vertical-navigation__item">
              <a href="https://www.twitter.com/{{site.tw}}" rel="noopener noreferrer" title="Twitter - Pirate Party UK">
                <i class="fa fa-twitter c-icon c-icon--rounded c-icon--twitter" aria-hidden="true"></i>
              </a>
            </li>
            <li class="c-vertical-navigation__item">
              <a href="https://discord.pirateparty.org.uk" rel="noopener noreferrer" title="Chat on Discord">
                <i class="fa fa-2x fa-comments c-icon c-icon--rounded" aria-hidden="true"></i>
              </a>
            </li>
          </ul>
        </nav>
        <p class="u-10paddingTop u-maxWidth80percent u-smaller-line-height hide-for-large">
          <span class="u-mirror-horizontally">&copy;</span> PPUK 2018.
          <br> Share and share alike! Checkout our Gitlab
      </div>
    </div>
  </div>
</footer>
<aside class="o-section o-section--bigger c-contact-bar u-inverted u-center-medium-down">
  <div class="o-section-inner">
    <div class="row">
      <div class="small-12 columns">
        <header class="c-contact-bar-header u-stacked-medium-down">
          <h3 class="c-contact-bar__heading"> <a href="{{ '/kontakt/' | relative_url }}">Contact</a> </h3>
        </header>
        <ul class="c-contact-bar-items u-stacked-medium-down">
          <li class="c-contact-bar__item u-stacked-medium-down">
            <div class="c-contact-bar__section">General Enquiries</div>
            <div class="c-contact-bar__description">
              <a href="mailto:info@pirateparty.org.uk">info@pirateparty.org.uk</a>
            </div>
          </li>
          <li class="c-contact-bar__item u-stacked-medium-down">
            <div class="c-contact-bar__section">Press Enquiries</div>
            <div class="c-contact-bar__description">
              <a href="mailto:press@pirateparty.org.uk">press@pirateparty.org.uk</a>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</aside>

<div class='scrolltop'>
    <div class='scroll icon'><i class="fa fa-4x fa-angle-up"></i></div>
</div>
