{% if page.url contains 'policy' %}
<nav class="c-top-sub-nav u-center-860-down">
  <div class="row">
    <div class="c-top-sub-nav-inner">
      <div class="u-cf">
        <div class="c-top-sub-nav-header">
          <div class="c-top-sub-nav__heading"> <a href="{{'/policy/' | relative_url }}">Beliefs</a> </div>
        </div>
        <div class="c-top-sub-nav-divider"></div>
        <ul class="c-top-sub-nav-items">
          <li class="c-top-sub-nav__item">
            <a href="{{'/policy/list.html' | relative_url }}">Policy Index</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
{% elsif page.url contains 'about-us' or page.url contains 'people' or page.url contains 'branches' %}
<nav class="c-top-sub-nav u-center-860-down">
  <div class="row">
    <div class="c-top-sub-nav-inner">
      <div class="u-cf">
        <div class="c-top-sub-nav-header">
          <div class="c-top-sub-nav__heading"> About Us </div>
        </div>
        <div class="c-top-sub-nav-divider"></div>
        <ul class="c-top-sub-nav-items">
          <li class="c-top-sub-nav__item">
            <a href="{{ '/people/' | relative_url }}">Our People</a>
          </li>
          <li class="c-top-sub-nav__item">
            <a href="{{ '/branches/' | relative_url }}">Our Branches</a>
          </li>
          <li class="c-top-sub-nav__item">
            <a href="{{ '/about-us/constitution.html' | relative_url }}">Our Constitution</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
{% endif %}
